<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mybcard">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyBCard">
        <activity
            android:name=".addInfo"
            android:exported="true"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".CloudVision"
            android:exported="true" />
        <activity
            android:name=".addText"
            android:exported="true"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".addImage"
            android:exported="true"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".addText_trans"
            android:exported="true"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".addImage_trans"
            android:exported="true"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".cardManage"
            android:exported="true" />
        <activity
            android:name=".cardTrans"
            android:exported="true" />
        <activity
            android:name=".cardCreate"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>